


body {
	margin:0;
    width: 100%;
    height: 100%;
    background-color: #a0aaa0;

}


#mainContainer {
	position:absolute;
	width: 100%;
	height: 100%; 
    min-height: 600px;
    min-width: 300px;
    overflow: visible;
	}




#logo {
    position: absolute;    
    background: url(image/TB_Logo_claim_RGB_yellow.svg) no-repeat; 
    background-position: center top ;
    background-size: contain;
    width: calc(((100vw + 100vh) / 34 ) * 3 );
    height: calc(((100vw + 100vh) / 34 ) * 3 );
    max-width: 50vw;
    right: calc(((100vw + 100vh) / 34 ));
    top: 0px;
    z-index: 100;
    
}




#header {
    position: fixed;
    top: 0;
    background-color:#778075 ;
    display: flex;
    justify-content:space-between;
    flex-direction:row;
    padding: calc(((100vw + 100vh) / 34 ) / 4); 
    opacity:1;
    width: calc(100% - (((100vw + 100vh) / 34 ) / 2));
}

#logosmall{
    display:none;
    background: url(image/TB_Logo_claim_small_RGB_yellow.svg)no-repeat;
    background-position: right;
    position: relative;    
    height: calc(((100vh + 100vw) / 34) / 2);
    width: calc(1.5603 * (((100vh + 100vw) / 34) / 2));
    opacity: 0;

}


#burger{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor:  pointer;
}

.bar{
    position: relative;    
    width: calc((((100vh + 100vw) / 34) / 2) * 1.5);
    height: calc(((100vh + 100vw) / 34) / 10);
    transform: rotate(0deg);
    transform-origin: 50% 50%;
}

#bar1 {
    background-color: #d2ff00;    
    z-index: 1;
    
}
#bar2 {
    background-color: #778075;    
    z-index: 0;
}
#bar3 {
    background-color: #d2ff00;    
    z-index: 1;
    
}
#bar4 {
    background-color: #778075;    
    z-index: 0;
    
}
#bar5 {
    background-color: #d2ff00;    
    z-index: 1;
    
}



#mainholder{
    position: absolute;
    bottom: 0;
    width: 100%; 
}

#holder{
    background-size: contain;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    width: auto; 
    margin-top: calc(((100vh + 100vw) / 34) / 4);
}
 
#hello{
    display: flex;
    position: relative;
    background-size: cover;
    height: auto;
    max-height: calc(((100vh + 100vw) / 34) * 1.5);
    opacity: 1;

}

#there{
    display: flex;
    position: relative;
    background-size: cover;
    height: auto;
    max-height: calc(((100vh + 100vw) / 34) * 1.5);
    opacity: 1;

 
} 

#balkenyellow{
    background:linear-gradient(90deg, rgba(210,255,0,1) 0%, transparent 100%);
    display: flex;
    position: relative;
    background-size: cover;
    height: inherit;
    max-height: calc(((100vh + 100vw) / 34) / 4);
    opacity: 1;    

}


 
#imprintgreen{
    display: flex;
    position: relative;
    background-size: cover;
    height: auto;
    max-height: calc(((100vh + 100vw) / 34) * 1.5);
    opacity: 0;
    cursor: pointer;

}

#imprintyellow{
    display: flex;
    position: relative;
    background-size: cover;
    height: auto;
    max-height: calc(((100vh + 100vw) / 34) * 1.5);
    opacity: 0;
    cursor: pointer;


}

#ppgreen{
    display: flex;
    position: relative;
    background-size: cover;
    height: auto;
    max-height: calc(((100vh + 100vw) / 34) * 1.5);
    opacity: 0;
    cursor: pointer;

    
} 

#ppyellow{
    display: flex;
    position: relative;
    background-size: cover;
    height: auto;
    max-height: calc(((100vh + 100vw) / 34) * 1.5);
    opacity: 0;
    cursor: pointer;

    
} 

#homegreen{
    display: flex;
    position: relative;
    background-size: cover;
    height: auto;
    max-height: calc(((100vh + 100vw) / 34) * 1.5);
    opacity: 0;
    cursor: pointer;

    
} 

#homeyellow{
    display: flex;
    position: relative;
    background-size: cover;
    height: auto;
    max-height: calc(((100vh + 100vw) / 34) * 1.5);
    opacity: 0;
    cursor: pointer;

    
} 


 
#balkengreen{
    background:linear-gradient(90deg, rgba(120,130,120,1) 0%, transparent 100%);
    display: flex;
    position: relative;
    background-size: cover;
    height: inherit;
    max-height: calc(((100vh + 100vw) / 34) / 4);
    opacity: 0;   


}

#copyholder{
    position: absolute;
    display: block;
    width: calc(100vw-(((100vw + 100vh) / 34 ) * 2 ));
    height: calc(100vh-(((100vw + 100vh) / 34 ) * 2 ));
    top: 0;
    left: 0;
    margin-top: calc(((100vw + 100vh) / 34 ) * 2 );    
    margin-left: calc(((100vw + 100vh) / 34 ) * 1 );
    margin-right: calc(((100vw + 100vh) / 34 ) * 1 );
    overflow: hidden;
    
}

@font-face {
    font-family: 'Suisse'; /*a name to be used later*/
    src: url('SuisseIntl-Medium.otf'); /*URL to font*/
}


p {
    font-size: max( calc(((100vh + 100vw) / 34) / 3), 12pt); 
    margin-bottom: calc(((100vh + 100vw) / 34) / 3);
    margin-top: 0;
    font-family: 'Suisse';
    color: #788278;
    line-height: 115%;
    text-transform: uppercase;
    letter-spacing: calc(((100vh + 100vw) / 34) / 60);
    word-spacing: calc(((100vh + 100vw) / 34) / 30);
}

h1 {
    font-size: max( calc(((100vh + 100vw) / 34) / 2), 18pt);
    margin-top: 0;
    margin-bottom: calc(((100vh + 100vw) / 34) / 4);
    font-family: 'Suisse';
    color: #788278;
    text-transform: uppercase;
    letter-spacing: calc(((100vh + 100vw) / 34) / 60);
    line-height: 115%;

}


h2{
    font-size: 0;
    margin-top: 0;
    margin-bottom: calc(((100vw + 100vh) / 34 ) * 1 );    
    text-transform: uppercase;
    
}




.loadingscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a0aaa0; 
  z-index: 9999;
    perspective: calc(((100vw + 100vh) / 34 ) * 4 );;
    perspective-origin: center;

}

#loadingscreenlogo {
    background:  url("image/TB_Logo_claim_RGB_yellow_loading.svg") no-repeat; 
    background-size: contain;
    width: calc(((100vw + 100vh) / 34 ) * 2 ); 
	height: calc(((100vw + 100vh) / 34 ) * 2 ); 
    transform-style: preserve-3d;
    animation: loading-screen 3s ease-out;
}



@keyframes loading-screen {
  0% {
    transform: rotate(0deg) rotateX(0deg) rotateY(0deg);
      
  }
  16.67% {
    transform: rotate(180deg)rotateX(0deg) rotateY(0deg);
  }
  33.33% {
    transform: rotate(180deg)rotateX(180deg) rotateY(0deg);
  }
  50% {
    transform: rotate(180deg)rotateX(180deg) rotateY(180deg);
  }
  66.67% {
    transform: rotate(0deg)rotateX(180deg) rotateY(180deg);
  }
  83.33% {
    transform: rotate(0deg)rotateX(360deg) rotateY(180deg);
  }
  100% {
    transform: rotate(0deg)rotateX(360deg) rotateY(0deg);
  }
}





.pagecontent {
  display: none;
}


form{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display:flex;
    align-items: center;
    width: fit-content;
    border-radius: calc(((100vw + 100vh) / 34 ) / 5 ); 
    background: #c8d2c8;
}

form input{
    background: #c8d2c8;
    outline:0;
    border:0 ;
    padding: calc(((100vw + 100vh) / 34 ) / 10 );
    height: calc(   (((100vw + 100vh) / 34 ) * 1 ) - ( 2 * ((( 100vw + 100vh ) / 34 ) / 10  )));
    width: calc(   (((100vw + 100vh) / 34 ) * 4.5 ) - ( 2 * ((( 100vw + 100vh ) / 34 ) / 10  )));
    font-size: max( calc(((100vh + 100vw) / 34) / 4));
    text-transform: uppercase;
    font-family: 'Suisse';
    text-align: center;
    color: #788278;
    border-top-left-radius: calc(((100vw + 100vh) / 34 ) / 5 ); 
    border-bottom-left-radius: calc(((100vw + 100vh) / 34 ) / 5 ); 
}

form button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline:0;
    border: 0;
    padding: 0;
    background:#d2ff00;
    height: calc(((100vw + 100vh) / 34 ) / 10 * 8); 
    width: calc(((100vw + 100vh) / 34 ) * 1.4 ); 
    border-radius: calc(((100vw + 100vh) / 34 ) / 10 ); 
    margin-right: calc(((100vw + 100vh) / 34 ) / 10 ); 
    cursor: pointer;
}

#arrow{
    display: block;
    position: relative;
    background: url(image/arrow.svg)no-repeat;
    background-position: center;
    width: inherit;
    height: calc(((100vw + 100vh) / 34 ) / 10 * 6); 
    pointer-events: none;
}

#heart{
    display: none;
    position: relative;
    background: url(image/heart.svg)no-repeat;
    background-position: center;
    width: inherit;
    height: calc(((100vw + 100vh) / 34 ) / 10 * 6); 
    pointer-events: none;
}



#load1{
    display: none;
    position: relative;
    background: #c8d2c8;
    border-radius: 50%;
    background-position: center;
    width: calc(((100vw + 100vh) / 34 ) / 5); 
    height: calc(((100vw + 100vh) / 34 ) / 5);  
    margin: calc(((100vw + 100vh) / 34 ) / 10);
    pointer-events: none;
    opacity: 0;
    animation: load1 1s ease-out infinite;

}
@keyframes load1 {
    0% {
        opacity:0;
    }
    16.666%{
        opacity:1;
    }
    33.333%{
        opacity:1;
    }
    50%{
        opacity:1;
    }
    66.666%{
        opacity:0;
    }
    83.333%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}

#load2{
    display: none;
    position: relative;
    background: #c8d2c8;
    border-radius: 50%;
    background-position: center;
    width: calc(((100vw + 100vh) / 34 ) / 5); 
    height: calc(((100vw + 100vh) / 34 ) / 5);  
    margin: calc(((100vw + 100vh) / 34 ) / 10);
    pointer-events: none;
    opacity: 0;
    animation: load2 1s ease-out infinite;  
}
@keyframes load2 {
    0% {
        opacity:0;
    }
    16.666%{
        opacity:0;
    }
    33.333%{
        opacity:1;
    }
    50%{
        opacity:1;
    }
    66.666%{
        opacity:1;
    }
    83.333%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}
#load3{
    display: none;
    position: relative;
    background: #c8d2c8;
    border-radius: 50%;
    background-position: center;
    width: calc(((100vw + 100vh) / 34 ) / 5); 
    height: calc(((100vw + 100vh) / 34 ) / 5);  
    margin: calc(((100vw + 100vh) / 34 ) / 10);
    pointer-events: none;
    opacity: 0;
    animation: load3 1s ease-out infinite;   
}
@keyframes load3 {
    0% {
        opacity:0;
    }
    16.666%{
        opacity:0;
    }
    33.333%{
        opacity:0;
    }
    50%{
        opacity:1;
    }
    66.666%{
        opacity:1;
    }
    83.333%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}


::placeholder{
    color: #788278;
    opacity: 1;
}


::selection { background: #a0aaa0;}










